
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

.divCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 27vh;
    height: 52vh;
    background-color: #422E3F;
  }

  .Tittleh1{
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 1em;
    margin-bottom: -0.8em;
    color: #1e2818;
    text-decoration-line:inherit;
    letter-spacing: 0.45em;
    text-shadow: #01172e;
    }

  .tittleCard{
    font-size: 23px;
    color: #031c2c;
    text-decoration-line: underline;
    letter-spacing: 0.10em;
  
  }

  .span{
    background-color: #1e2818;
    border: #FAF3DD;
    color: #853193;
  }

  .subtittleCard {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2px;
    text-align: left;
    margin-left: 3em;
    margin-bottom: 0.090em;
    color: #0e032e;
    text-shadow:8px;
    text-shadow: #01172e;
    letter-spacing: 0.08em;
  }
  .unorderedList {
    float: left;
    display: -webkit-box;
    list-style-type: none; 
    padding: 0 120px;
    flex-direction: row;
    margin: -0.3em;
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center;
    gap: 60x;
    margin-top: 2 em;
    margin-right: 0.1em;
    margin-left: -40px; 
    width: 100px;
  }
  .unorderedList li button {
    margin: 0 auto; /* Asegura que el botón esté centrado entro del li */
}
  .listItem {
    display: grid;     
    width: 17vw;
    height: 50vh;
    float: left;
    padding: 0 4px;
    overflow: auto;
    word-break: break-all;
    /* text-align: center; */
    display:flow-root;
    background-color: lightblue  ;    
    margin: -0.3em;
    gap: 60x;
    margin-top: 4em;
    margin-left: 4em;
    /* justify-content: center; */
  position: relative;
    font-weight: 800;
    border-radius: 9%;
    border: #350583; 
    border-style:outset;
    box-shadow: 0 2px 2px rgba(0, 12, 34, 0.02);
    box-sizing: border-box;
    border-image: round;
  }
  .listItem:hover {
    background-color: #853193;
    color: beige;
    transform: translateY(-22px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
    transition: all 0.15s;
  }

    
  .listItem img {
    width: 75%;
    object-fit: cover;
    margin: 15px;
    /* margin-top: 50%; */
  }
  
  .buttonClose{
    background-color: #87898a;
    color: #060007;
    border-bottom: #2c08ac;
    margin-top: 10px; 
    height: fit-content;
    border-radius: 14px;
    position: relative; 
    left:15%;
    cursor: pointer;
    padding: 5px 10px;
    
  }
  .buttonAdd{
    background-color: #87898a;
    color: #fcf6fd;
    border-bottom: #2c08ac;
    height: fit-content;
    border-style: outset;
    position: relative;
    left: 32%;
  }
  .imgStyle{
    border-style: outset;
    overflow: auto;
  }

  .imgStyle:hoover{
    transform:rotate3d(180°)
   }

.imgStyleD{
    float: right; /* Alinea la imagen a la derecha */
    width: 400px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border: 3px solid #5f9ea0; /* Color verde agua marina */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 8px; /* Bordes redondeados */
    margin: 10px; /* Espacio alrededor de la imagen */
    transition: transform 0.3s ease;
    margin-left: 300px; 
    margin-bottom: 18%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

.imgStyleD:hover {
    transform:scale3d (1.1, 1.1, 1);
    border-color: #87cefa; /* Cambiar el color del borde al azul claro en hover */
}
  .searchStyle input[type = 'Digita tu perro']{
    padding: 10px 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
  }
  .searchButton {
    padding: 3px 7px;
    border-radius: 5px;
    border: none;
    background-color:  #004085;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    font-size: small;
  }
  .searchButton input[type="submit"]:hover {
    background-color: #0288d1;
}
  .navBar {
    display: flex;
    margin: 23px 0;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #1568bb, #87cefa);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    padding: 10px;
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1000;
    margin: 0;
}

.navBar ul li {
    margin: 0;
}

.navBar ul li a {
    text-decoration: none;
    color: white;
    padding: 40px 10px;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s;
}

.navBar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.navBar ul li a:active {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(0.95);
}
    
  .subtittleDetail {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1px;
    text-align: center;
    margin-bottom: 0.090em;
    color: #3b022a;
    text-shadow:8px;
    text-decoration-style: wavy;
    text-shadow: #000102;
    letter-spacing: 0.08em;
  }
  .borderdetail {
    border: #060007;
    border-width: 18%;
    border-color: #03A9F4;
    border-style: groove;
    border-radius: 19%;
  }
  .pagination {
    display: flex;
    list-style: none;
    position: absolute;
    left: 42%;
    right: 50%;
  transform: translate(-50%, -50%);
  }
  
  .page-item {
    margin: 0 5px;
    padding: 0 9px;
  }
  
  .page-link {
    color: #022447;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #460583;
    background-color: #818080;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .page-link:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  .nav > li {
    float:right;
  }
  
  .nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:flex;
  }
  
  .nav li a:hover {
    background-color:#434343;
  }
  
  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav li:hover > ul {
    display:block;
  }
  
  .nav li ul li {
    position:relative;
  }
  
  .nav li ul li ul {
    right:140px;
    top:0px;
  }

  .landing-page {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #f8f9fa;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .header h1 {
    margin: 0;
    color: #343a40;
  }
  
  .main-content {
    padding: 40px;
  }
  
  .main-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  .main-content p {
    font-size: 18px;
    color: #495057;
    margin: 20px 0;
  }
  
  .cta-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }

  .filter-container {
    
    align-items: center;
    display: inline-block;
    padding: 10px 20px;  
    margin-left: -120px; 
    margin-bottom: -215px;
    background-color: #06489e; 
    color: white;
    text-align: center;
    text-decoration: burlywood; 
    font-weight: bold;
    border-radius: 5px; 
    border: 1px solid transparent; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .filter-containerF {
    align-items: center;
    display: inline-flex;
    padding: 3px 6px;  
    gap: 10px;
    margin-left: -120px; 
    margin-bottom: -215px;
    background-color: #06489e; 
    color: white;
    text-align: center;
    text-decoration: burlywood; 
    font-weight: bold;
    border-radius: 5px; 
    border: 1px solid transparent; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  
  .filter-container1 {
    display: inline-block;
    padding: 10px 10px;  
    margin-left: -930px; 
    background-color: #06489e; 
    color: white;
    text-align: center;
    text-decoration: burlywood; 
    font-weight: bold;
    border-radius: 5px; 
    border: 1px solid transparent; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    transition: background-color 0.3s, border-color 0.3s;
}

.filter-container1:hover {
    background-color: #0056b3;
    border-color: #004085;
    text-decoration: none; 
}
.filter-container1:active {
    background-color: #004085; 
    border-color: #003366; 
}
.filter-container2 {
  display: flex;
    align-items: center;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #1568bb, #87cefa);
    margin: 20px 0;
}
  
    .filter-container2 img {
      flex-shrink: 0;
      margin-left: 20px;
      border: 2px solid #094aa0; /* Light steel blue */
      box-shadow: 0 4px 8px rgba(0, 128, 128, 0.2); /* Teal shadow */
      width: 300px; /* Adjust size as needed */
      height: auto;
  }
  
  .filter-container2 h3,
   .filter-container2 p {
      margin: 0 0 10px 0;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }s
  
  .filter-container2:hover img {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
  }

  .form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: calc(100% - 22px); /* To accommodate padding and border */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  }
  
  .form-group input:focus,
  .form-group select:focus,
  .form-group textarea:focus {
    border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .form-actions {
    text-align: center;
  }
  
  .form-actions button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-actions button:hover {
    background-color: #0056b3;
  }

  .dog-image {
    max-width: 300px;
    height: auto;
    border: 20%;
    border: 2px solid #007bff;
    position: relative;
    top: -8px;
    /* right: 20px; */
    
    padding: 1px;
    background-color: #06b67b; /* Agrega un fondo blanco para el marco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  